/* header start */


.menu a{
        margin: 0 30px;
        font-size: 19px;
        color: #0e0a0a;
}
/* header end */
/* .s-item{
        border: 1px solid gray;
} */
/* banner start */
.banner{
        background-image: url(images/pexels-kelly-3055015.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
       
        /* opacity: .8; */
   
        
}
.b-content{
        padding-top: 250px;
        padding-bottom: 220px;
        color: #fff;
}
.b-content h2{
        font-size: 55px;
        color: white;
}
.b-content p{
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    margin-top: 25px;
    margin-bottom: 80px;
}
.b-content a{
    text-decoration: none;
    color: #140e0e;
    font-size: 25px;
    font-weight: 600;
    background: white;
    padding: 12px 35px;
    text-align: center;
    transition: .3s ;
}

.b-content a:hover{
        background-color: transparent;
        color: white;
}
.b-btn{
        border: none;
        background: transparent;
        color: white;
        font-size: 20px;
}
.b-span{
        font-size: 20px;
        color: #c3f3b3;
       
}
/* banner end */
/* welcome start */

.w-content span{
    font-size: 40px;
}
.w-content h1{
    margin-top: 0;
    margin-bottom: 0;
}
.w-content p{
    line-height: 28px;
    margin-top: 15px;
}
/* welcome end */
/* service start */

.fa-regular, .far{
        font-size: 40px;
        background-color: white;
        margin-top: -40px;
        padding-left: 7px;
        padding-right: 7px
}
.c-awsome{
        font-size: 40px;
        margin-top: -40px;
        padding-left: 7px;
        padding-right: 7px;
        background-color: white;
}
.w-icon{
        color: #8e8e8e;
     
}
.w-hr{
        width: 55px;
        margin: 0 auto;
        margin-bottom:20px
}
.w-button{
       text-decoration: none;
       color: gray;
       font-size: 19px;
}
.w-button:hover{
        color: gray;
}
/* service end */

/* about us start */
.about-us{
        padding-top: 40px;
}
.a-img{
        width: 450px;
        margin-top: 25px;
        
}
.about-content img{}
.about-content h2{
        margin-left: 70px;
        font-size: 30px;
        text-transform: uppercase;
        color: #333333;
        font-weight: 400;
      
}
.about-content p{
      font-size: 18px;
      line-height: 30px;
      margin-left: 70px;
      color: #8e8e8e;
      margin-bottom: 30px;
}
.about-content a{
        text-decoration: none;
        color: #110202;
        font-size: 25px;
        font-weight: 600;
        
        padding: 12px 35px;
        text-align: center;
        transition: .3s ;
        margin-left: 70px;
        border: 1px solid rgb(26, 9, 9);
       transition: .3s all ease-in;
}
.about-content a:hover{
        background-color: black;
        color: white;
     
}
/* about us end */

/* Recent start */
.recent{

}
.recent-title{}
.recent-title span{
        font-size: 45px;
}
.recent-title h1{
        font-size: 30px;
        font-weight: 400;
}
/* Recent end */

/* category start ----- copy paste*/
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap');

body{
    font-family: 'Quicksand', sans-serif;
}
.underline{
    height: 3px;
    width: 100px;
    background-color: #f7941d;
}
.btn:focus{
    outline: none!important;
    box-shadow: none!important;
}
.btn-primary{
    background-color: #fff!important;
    border: none;
}
.btn-primary:hover{
    background-color: #f7941d!important;
    color: #fff!important;
}

.product-item{
    border: 1px solid #ebebeb;
    border-radius: 4px;
    position: relative;
}
.product-img:hover::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 1;
}
.c-bg{
        /* background-color: #F8F8F8; */
     
}
/* category end  --------- copy paste*/


/* choose start */
.choose{}

        
        .c-img {
                text-align: center;
                margin-top: 40px;
                margin-left: 35px;
        }

.fa-solid, .fas{
        font-size: 45px;
        margin-top: -45px;
}
.fa-brands, .fab{
        font-size: 45px;
        margin-top: -50px;
}
.fa-regular, .far{
        margin-top: -46px;
}
.c-img h3{
        /* font-size: 20px; */
        color: #8e8e8e;
        
}
.c-content hr{
        margin-left: -72px;

}

.c-content span{
    font-size: 18px;
    color: #8e8e8e;
}
.c-content p{
    color: #8e8e8e;
    margin-top: 33px;
    margin-left: -69px;
}
/* choose end */

